@{
    var title = ViewBag.Title;
}
<meta charset="utf-8"/>
<title>@title | Rizz - Admin & Dashboard Template</title>
<meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>
<meta content="Premium Multipurpose Admin &amp; Dashboard Template" name="description">
<meta content="" name="author"/>
<meta content="IE=edge" http-equiv="X-UA-Compatible"/>
<!-- App favicon -->
<link href="/images/favicon.ico" rel="shortcut icon"/></meta>