@page
@model TeknoForce.Pages.Categories.EditModel

@{
    ViewData["Title"] = "Kategori Düzenle";
    Layout = "_AdminLayout";
}

<h3>Kategori Düzenle</h3>

<form method="post" class="mt-4">

    <input type="hidden" asp-for="Category.CategoryId" />

    <div class="mb-3">
        <label class="form-label">Marka</label>
        <select asp-for="Category.BrandId"
                asp-items="Model.BrandList"
                class="form-select">
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">Kategori Adı</label>
        <input asp-for="Category.Name" class="form-control" />
    </div>

    <div class="form-check form-switch mb-4">
        <input class="form-check-input"
               type="checkbox"
               asp-for="Category.IsActive" />
        <label class="form-check-label">
            Aktif
        </label>
    </div>

    <div class="d-flex gap-2">
        <button type="submit" class="btn btn-primary">
            Kaydet
        </button>

        <a asp-page="./Index" class="btn btn-secondary">
            Geri
        </a>

        <button type="submit"
                asp-page-handler="Delete"
                asp-route-id="@Model.Category.CategoryId"
                class="btn btn-danger ms-auto"
                onclick="return confirm('Bu kategoriyi sileceğim. Emin misin?');">
            Sil
        </button>
    </div>
</form>
