@page
@model TeknoForce.Pages.Admin.Settings.IndexModel
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Site Ayarları";
}



<form method="post">
<div class="admin-card">
        <h3>Site Ayarları</h3>
    <div class="mb-3">
        <label>Site Başlığı</label>
        <input asp-for="Setting.SiteTitle" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Logo Yolu</label>
        <input asp-for="Setting.LogoPath" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Telefon</label>
        <input asp-for="Setting.Phone" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Email</label>
        <input asp-for="Setting.Email" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Adres</label>
        <textarea asp-for="Setting.Address" class="form-control"></textarea>
    </div>

    <div class="mb-3">
        <label>Footer Yazısı</label>
        <input asp-for="Setting.FooterText" class="form-control" />
    </div>

    <button type="submit" class="btn btn-success">
        Kaydet
    </button>
</div>
</form>
